.user-profile {
  max-width: 756px;
  margin: auto;
}

.user-profile__form-wrapper {
  background-color: #efefef;
}

.user-profile__form_read input {
  box-shadow: none !important;
  border-color: transparent !important;
}

.user-profile__form_edit input {
  border-color: #545a5f;
}

@media (max-width: 576px) {
  .user-profile__form {
    margin-top: 0 !important;
  }
}
