.app-nav {
  margin-left: 20px;

  &__ {
    &toggler {
      border-width: 1px;
      border-color: rgba($color: white, $alpha: 0.25);
      border-radius: 0;
      padding: 2px 4px;

      .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 6.5H19V8H5V6.5Z" fill="white"/><path d="M5 16.5H19V18H5V16.5Z" fill="white"/><path d="M5 11.5H19V13H5V11.5Z" fill="white"/></svg>');
        transform: scale(1.2);
      }
    }
    &header {
      .btn-close {
        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path fill="black" d="M0,24l4,4l10-10l10,10l4-4L18,14L28,4l-4-4L14,10L4,0L0,4l10,10L0,24z"/></g></svg>');
      }
    }
  }
}
