.topic {
  &__container {
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f8ff;
    }
  }
  &__avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
  &__data {
    margin-left: 10px;
    p {
      margin: 0;
    }
  }
}
