.forum-topic {
  &__avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  &__created {
    font-size: 0.9rem;

    p {
      width: 120px;
    }
  }

  &__messages {
    font-size: 0.9rem;

    p {
      width: 120px;
    }
  }
}
