@import '@vars';
@import '@bootstrap';
@import '@fonts/minecraft/minecraft.css';

html,
body,
#root {
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
}
.minecrafted {
  font-family: 'Minecraft';
}
.minecrafted_bold {
  font-weight: 700;
}
.navbar-nav .nav-link.active {
  color: $primary;
}
.interactive {
  cursor: pointer;
}
