$bg-color: #260B14;/* 210910 в моей демо, 2E040F в демо дмитрия 240b13 в макете ... 220D14 */

$game-ui-bg-color: #261320;
$game-ui-brdr-color: #6b3b61;
$game-ui-btn-color: #693e49;
$game-ui-btn-act-color: #653e69;
$game-ui-font-light-color: #9d5e6e;
$game-ui-font-dark-color: black;

/* bootstrap customization */
$primary: #8a0036;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$enable-negative-margins: true;
