$yellow-color: #e69e61;
$almost-white: #e7d8c3;
$purple-color: #653e69;
$dark-purple-color: #251320;
$dirty-pink-color: #9e6274;
$dark-dirty-pink-color: #683e48;
$bg-color: #25141a;

/* PLS, BELOW ONLY bootstrap customization */
$primary: #8a0036;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$enable-negative-margins: true;
