.start-scene__buttons {
  position: absolute;
  top: 350px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.start-scene__buttons a {
  cursor: pointer;
  text-decoration: none;
  font: 400 24px Minecraft;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.start-scene__buttons a:hover {
  border-bottom: 2px solid white;
}
