@import '@vars';

.game-ui {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $game-ui-font-light-color;

  a {
    color: $game-ui-font-light-color;
    cursor: pointer;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      border-bottom: 2px solid $game-ui-font-light-color;
    }
  }
}
