@import url(../../vars.scss);

.modal {
  height: 80vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}

.modal_active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  position: relative;
  background-color: $ui_purple;
  padding: 10px;
  width: 576px;

  .modal__header {
    display: flex;
    font-family: 'Minecraft';
    font-size: 1.5rem;

    .modal__close-btn {
      display: block;
      margin-left: auto;
      margin-bottom: 0.5rem;
      border: 1px solid $ui_bg_dark-purple;
      color: $ui_bg_dark-purple;
      text-decoration: none;
      font-size: 1rem;
      width: 2rem;
      height: 2rem;
      padding: 0;
      background: transparent;
    }
  }

  .modal__child-content {
    width: 100%;
    height: fit-content;
    background: $ui_bg_dark-purple;
    padding: 20px;

    .modal__stats {
      font-family: 'Minecraft';
      color: rgb(146, 104, 125);
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: flex;

          span {
            display: block;
            font-weight: bold;
            margin-left: auto;
          }
        }
      }
    }
  }
}

.modal__button {
  cursor: pointer;
  font-family: 'Minecraft';
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: $ui_purple;
  color: $ui_bg_dark-purple;
  text-align: center;
}

.modal__button:hover {
  background-color: $ui_purple;
}
