@import url(../../vars.scss);

.cont__game-stats {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  font-family: 'Minecraft';
  padding: 1rem;

  * {
    color: $ui_font_light-purple;
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
  }

  div {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
  }

  ul > li {
    display: flex;
  }

  ul > li > img {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    width: 1.25rem;
    margin-right: 0.5rem;
  }
}

.cont__game-menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  min-height: 4rem;
  max-width: 720px;
  width: auto;
  background-color: $ui_bg_dark-purple;
  display: flex;
  padding: 1rem;
  border: 5px solid $ui_purple;
  color: $ui_font_light-purple;
  font-family: 'Minecraft';

  div {
    margin-top: auto;
    padding-left: 0.5rem;
  }

  div > p {
    display: block;
    margin: 0;
  }

  .cont__char-info {
    position: relative;
  }

  .cont__char-info > .cont__char-level {
    position: absolute;
    bottom: 0px;
    left: 12px;
  }

  .bar__health {
    width: 100%;
    height: fit-content;
    padding: 0;
    border-bottom: 3px solid $ui_bg_purple;

    div {
      height: 3px;
      padding: 0;
      background: $ui_bg_light-purple;
    }
  }

  .cont__buttons {
    display: flex;
    height: 100%;
    div {
      cursor: pointer;
      height: 60px;
      width: 90px;
      margin: 0;
      background-color: $ui_purple;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
    }

    .button_active {
      background-color: $ui_purple;
    }
  }
}
