.gameStats {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  font-family: 'Minecraft';
  padding: 1rem;

  * {
    color: rgb(158, 98, 116);
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
  }

  div {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
  }

  ul > li {
    display: flex;
  }

  ul > li > img {
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    width: 1.25rem;
    margin-right: 0.5rem;
  }
}

.gameMenu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  min-height: 4rem;
  max-width: 720px;
  width: auto;
  background-color: rgb(37, 19, 32);
  display: flex;
  padding: 1rem;
  border: 5px solid rgb(104, 61, 97);
  color: rgb(158, 98, 116);
  font-family: 'Minecraft';

  div {
    margin-top: auto;
    padding-left: 0.5rem;
  }

  div > p {
    display: block;
    margin: 0;
  }

  .charInfo {
    position: relative;
  }

  .charInfo > .level {
    position: absolute;
    bottom: 0px;
    left: 12px;
  }

  .healthBar {
    width: 100%;
    height: fit-content;
    padding: 0;
    border-bottom: 3px solid rgb(74, 34, 70);

    div {
      height: 3px;
      padding: 0;
      background: rgb(146, 104, 125);
    }
  }

  .buttons {
    display: flex;
    height: 100%;
    div {
      cursor: pointer;
      height: 60px;
      width: 90px;
      margin: 0;
      background-color: rgb(104, 63, 75);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
    }

    .active {
      background-color: rgb(103, 62, 105);
    }
  }
}
