@import '@bootstrap-utils';
@import '@vars';

.forum-topic-list {
  &__list {
    list-style: none;
    padding: 0;
    gap: 10px;
  }

  &__topic {
    cursor: pointer;
    &:hover {
      background-color: $light-dirty-pink-color;
    }
  }
}

@include media-breakpoint-up(sm) {
  .forum-topic-list {
    margin-top: -60px;
  }
}
