.btn-start {
  display: block;
  width: 50%;
  font-size: 1.5rem;
  height: 4rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.lb-avatar {
  float: right;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
}
