.lb-cont{
    width: 50%;
    margin-top: 10%;
}

.btn-start{
    display: block;
    width: 50%;
    font-size: 1.5rem;
    height: 4rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
