.map-scene__buttons {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}

.map-scene__buttons a {
  cursor: pointer;
  text-decoration: none;
  font: 400 24px Minecraft;
  display: block;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.map-scene__buttons a:hover {
  border-bottom: 2px solid white;
}

.map-scene__layers canvas {
  position: absolute;
  top: 0;
  left: 0;
}
