@import '@vars';

.map-scene {
  position: fixed;
  width: 100%;
  height: 100%;

  &__layer {
    position: absolute;
    inset: 0 0 0 0;
  }

  .game-ui-wrapper {
    z-index: 300;
  }

  .front-effects-game-canvas-wrapper {
    z-index: 250;
  }

  .live-game-canvas-wrapper {
    z-index: 200;
  }

  .back-effects-canvas-wrapper {
    z-index: 150;
  }

  .static-game-canvas-wrapper {
    z-index: 100;
    background: $bg-color;
  }
}
