.main-page {
  &__jumbotron {
    position: relative;
    overflow: hidden;

    &-button {
      position: absolute;
      animation: flickerButton 1.75s ease-in-out infinite;
    }

    &_makedead {
      .main-page__jumbotron-button {
        right: 18px;
        bottom: 28px;
      }
    }

    &_cleanup {
      .main-page__jumbotron-button {
        right: 15px;
        bottom: 15px;
      }
    }
  }
}
@keyframes flickerButton {
  0% {
    filter: saturate(100%) contrast(100%) brightness(1);
  }

  50% {
    filter: saturate(110%) contrast(120%) brightness(1.25);
  }

  100% {
    filter: saturate(100%) contrast(100%) brightness(1);
  }
}
